mixin footer
    .footer
        .footer__copyright © 2018 «LoremIpsum.net» Все права защищены.
        .footer__money
            .footer__money-item
                .footer__money-image
                    img(src="./images/money/qiwi.svg")
                .footer__money-name Qiwi wallet
            .footer__money-item
                .footer__money-image
                    img(src="./images/money/yandex.svg")
                .footer__money-name Yandex Money
            .footer__money-item
                .footer__money-image
                    img(src="./images/money/web.svg")
                .footer__money-name Web Money
        .footer__contact
            a.footer__contact-item(href="#")
                .footer__contact-image
                    img(src="./images/money/mail.svg")
                .footer__contact-text info@ipsum228.com
            a.footer__contact-item(href="#")
                .footer__contact-image
                    img(src="./images/money/vk.svg")
                .footer__contact-text Мы вконтакте
            
        