mixin header
    .header
        .header__logo LoremIpsum <span>.Net</span>
        .header__nav
            a.header__nav-link(href="#") Бизнес
            a.header__nav-link(href="#") О нас
            a.header__nav-link(href="#") Цены
            a.header__nav-link(href="#") Оформить заказ